.text-center {
    font-family: filicudi-solid, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    color: rgb(254, 217, 8);
    text-align: center;
  }

  .about-center {
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: black;
  }

.profilepic-image {
  width: 50%;
  height: 50%;
}