.text-center2 {
  font-family: filicudi-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  color: rgb(254, 217, 8);
  text-align: left;
}

.navbar-link {
  font-family: filicudi-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-center3 {
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: rgb(230, 198, 14);
  text-align: left;
  position: absolute;

}

.button-text:hover {
  color: white;
}

.para-center {
  text-align: left;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.tinted-image {
  padding: 100px;
}

.homepage-button{
  margin-top: 20px;
}