.text-center2 {
  font-family: filicudi-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 200px;
  color: rgb(254, 217, 8);
  text-align: left;
}

.text-center3 {
  font-family: mina, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  color: rgb(230, 198, 14);
  text-align: left;
  position: absolute;
  top: 200px;
  left: 150px;
}

.para-center {
  text-align: left;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  padding: 10px;
}